@tailwind base;
@tailwind components;
@tailwind utilities;

/* --------------header-green------------------------- */
.width80 {
  width: 80%;
  margin: auto;
}

.width100 {
  width: 100%;
  margin: auto;
}

.main {
  width: 100%;
  height: 40px;
  gap: 0px;
  background: #609e45;
}

.first-head {
  text-align: center;
  align-items: center;
  padding-top: 7px;
}

.icon {
  border-radius: 50%;
  padding: 2px;
  border: 1px solid white;
  background-color: orangered;
  color: white;
}

.iconn {
  border-radius: 50%;
  padding: 2px;
  border: 1px solid white;
}

@media only screen and (max-width: 320px) {
  .center {
    display: none;
  }

  .right-side {
    display: none;
  }

  .search {
    display: none;
  }

  .sea {
    display: none;
  }

  .img2 {
    height: 30px;
    width: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .center {
    display: none;
  }

  .right-side {
    display: none;
  }

  .inn {
    margin-top: 20px;
  }

  .in {

    width: 170px;
    text-align: center;
  }

  .sea {
    display: none;
  }



}

/* -------------second-head------------------ */

.second-head {
  height: 82px;
  top: 60px;
  left: 100px;
  gap: 0px;
}

.inp {
  width: 500px;
  height: 50px;
  top: 66px;
  left: 722px;
  gap: 0px;
  border-radius: 5px 0px 0px 0px;
  border: 1px 0px 0px 0px;
}

.img1 {
  padding: 10px;
  background-color: rgba(248, 232, 227, 0.657);
  border-radius: 35%;
}

.img2 {
  padding: 10px;
  color: white !important;
  border-radius: 15px;
  background-color: rgba(248, 232, 227, 0.233);
}


/* ----------footer------- */
.footer1 {
  /* height: 594px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: #609e45;
  background-image: url(../../public/BG.png);
}

.hrr {
  margin-top: 25px;
  margin-bottom: 25px;
}

.left {
  width: 351px;
  height: 284px;
  top: 9508px;
  left: 309px;
  gap: 0px;
  line-height: 26px;

}

.typografy {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;

}

.log {
  width: 303.83px;
  height: 59px;
  top: 9508px;
  left: 309px;
  gap: 0px;

}



.heading {

  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;

}

.hrline {
  width: 65px;
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.Navigation ul li {

  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  color: white;
}

.Catogories ul li {

  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  color: white;
}

.Customer ul li {

  font-size: 16px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  color: white;
}

.nav {
  justify-content: space-between;
}

.btn1 {
  background-color: #609e45;
  padding: 18px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}

.btn2 {

  padding: 18px;
  border-radius: 5px;
  color: #609e45;
  font-weight: 600;
  border: 2px solid #609e45;
}

/* --------------Home------------- */
.home {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../public/home.png);
  background-color: #f6f0f0;

}

.textcolor {
  /* background: #609e45; */
  color: #609e45;
}

.bgcolor {
  background: #609e45;
  /* color: #609e45; */
}

.gro {
  transition: 0.6s;
}

.pro {
  background-image: url(../../public/BG11.png);
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}

.card {
  transition: 0.6s;
}

.veg {
  background-image: url(../../public/veg.png);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #609e45;
}

.app {
  background-image: url(../../public/appbg.png);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #609e45;
}

.over {
  background-image: url(../../public/rec.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50px;
}

.men {
  width: 100%;
  background-image: url(../../public/men.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



/* -----------about----------- */
.about {
  width: 100%;
  background-image: url(../../public/BannerSection.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


/* ---------------store------------- */
.store-main {
  background-color: #f5e3dc7d;
  width: 100%;
}

.store {

  background-image: url(../../public/baingan.png);
  background-repeat: no-repeat;
  /* background-position: ; */
  background-size: cover;
}
.maskk:hover .Mask{
background-color: #609e45;
}

.active-summary {
  background-color: #34D399; /* Your desired green color */
}